appnope==0.1.0
args==0.1.0
art==4.3
astroid==2.3.3
autograd==1.3
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
click==6.7
clint==0.5.1
coverage==5.0.1
cvxpy==1.0.25
cycler==0.10.0
decorator==4.4.1
dill==0.3.1.1
ecos==2.0.7.post1
fastapi==0.44.1
Flask==0.10.1
floyd-cli==0.11.17
future==0.18.2
h11==0.8.1
h5py==2.10.0
httptools==0.0.13
idna==2.8
ipykernel==5.1.3
ipython==7.10.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.0
jupyter-client==5.3.4
jupyter-core==4.6.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lrutils==0.1.4
MarkupSafe==1.1.1
marshmallow==2.20.5
matplotlib==3.1.1
mccabe==0.6.1
mlxtend==0.17.0
multiprocess==0.70.9
networkx==2.4
numpy==1.17.4
opencv-python==4.1.2.30
osqp==0.6.1
pandas==0.25.3
parso==0.5.1
passlib==1.6.2
pathlib2==2.3.5
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
prompt-toolkit==3.0.0
ptyprocess==0.6.0
py-bcrypt==0.4
pydantic==1.2
Pygments==2.5.1
pylint==2.4.4
pyparsing==2.4.5
pyrgg==0.3
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.1.2
pyzmq==18.1.1
raven==6.10.0
requests==2.22.0
requests-toolbelt==0.9.1
scikit-learn==0.21.3
scipy==1.3.2
scs==2.1.1.post2
seaborn==0.9.0
six==1.13.0
starlette==0.12.9
tabulate==0.8.6
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.8
uvicorn==0.10.8
uvloop==0.14.0
wcwidth==0.1.7
websockets==8.1
Werkzeug==0.16.0
wrapt==1.11.2
